{% extends 'base.html' %}
{% block container %}

 <main class="flex-1 bg-white" id="main-wrapper">

            <div class="max-w-6xl mx-auto pt-8">
    <h1 class="mb-14 text-2xl uppercase md:text-3xl text-center text-brand-blue">
        Red vožnje linija 451a
        <div class="max-w-6xl mx-auto block relative mt-2">
            <span style="width: 25%; height: 4px;" class="absolute left-1/2 transform -translate-x-1/2 bg-gray-300 rounded-xl"></span>
            <span style="width: 4%; height: 8px; transform: translate(-50%, -2px)" class="absolute left-1/2 bg-[rgb(32,64,154)] rounded-xl"></span>
        </div>
    </h1>
  </div>
<div class="pb-8 px-4 bg-white w-full flex flex-col gap-y-16" id="custom-bg">
    <div class="pb-8 px-4 bg-white w-full flex flex-col gap-y-16" id="custom-bg">
              <div class="max-w-6xl w-full mx-auto sm:px-8">
            <div class="left">
                <h2 style="font-size:18px;text-align: center; font-weight:normal;text-transform:uppercase; vertical-align:middle;">Beograd - Stojnik</h2>
                <h2 style="font-size:24px;text-align: center; font-weight:bold;text-transform:uppercase; vertical-align:middle;">Beograd</h2>
             </div>
             <div class="block w-full overflow-x-auto">
            <table class="table table-bordered w-full" style="margin:0 auto;">
                <thead>
                <tr>
                    <th class="head0 center" style="vertical-align:middle; text-align:center;width:40px;background-color:#20409a; color:#fff; font-weight:700;">Sat</th>
                    <th class="head0 center" style="vertical-align:middle; text-align:center;background-color:#20409a; color:#fff; font-weight:700;">Radni dan</th>
                    <th class="head0 center" style="vertical-align:middle; text-align:center;background-color:#20409a; color:#fff; font-weight:700;">Subota</th>
                    <th class="head0 center" style="vertical-align:middle; text-align:center;background-color:#20409a; color:#fff; font-weight:700;">Nedelja</th>
                    <th class="head0 center" style="vertical-align:middle; text-align:center;width:40px;background-color:#20409a; color:#fff; font-weight:700;">Sat</th>
                </tr>
                </thead>
                <tbody>
                                           <tr>
                         <td style="text-align: center; background-color:#20409a; color:#fff; font-weight:700;">09</td>
                         
                                                  <td style="text-align: left; padding-left:15px!important; color:#20409a;font-weight:500;border:1px solid #20409a;vertical-align:middle;">
                                                                              10
                                                                           </td>
                         <td style="text-align: left; padding-left:15px!important;color:#20409a;font-weight:500;border:1px solid #20409a;vertical-align:middle;">
                                                                              10
                                                                       </td>
                         <td style="text-align: left; padding-left:15px!important;color:#20409a;font-weight:500;border:1px solid #20409a;vertical-align:middle;">
                                                                              10
                                                                       </td>
                                                  
                                                  
                                                                           <td style="text-align: center; background-color:#20409a; color:#fff; font-weight:700;">09</td>
                       </tr>
                                           <tr>
                         <td style="text-align: center; background-color:#20409a; color:#fff; font-weight:700;">17</td>
                         
                                                  
                                                  <td style="text-align: left; padding-left:15px!important; color:#20409a;font-weight:500;border:1px solid #20409a;vertical-align:middle;">
                                                                              25
                                                                           </td>
                         <td style="text-align: left; padding-left:15px!important;color:#20409a;font-weight:500;border:1px solid #20409a;vertical-align:middle;">
                                                                              25
                                                                       </td>
                         <td style="text-align: left; padding-left:15px!important;color:#20409a;font-weight:500;border:1px solid #20409a;vertical-align:middle;">
                                                                              25
                                                                       </td>
                                                  
                                                                           <td style="text-align: center; background-color:#20409a; color:#fff; font-weight:700;">17</td>
                       </tr>
                                           <tr>
                         <td style="text-align: center; background-color:#20409a; color:#fff; font-weight:700;">19</td>
                         
                                                  
                                                  
                                                  <td style="text-align: left; padding-left:15px!important; color:#20409a;font-weight:500;border:1px solid #20409a;vertical-align:middle;">
                                                                              25
                                                                           </td>
                         <td style="text-align: left; padding-left:15px!important;color:#20409a;font-weight:500;border:1px solid #20409a;vertical-align:middle;">
                                                   </td>
                         <td style="text-align: left; padding-left:15px!important;color:#20409a;font-weight:500;border:1px solid #20409a;vertical-align:middle;">
                                                   </td>
                                                                           <td style="text-align: center; background-color:#20409a; color:#fff; font-weight:700;">19</td>
                       </tr>
                                        <tr>
                      <td colspan="5" style="text-align: right; background-color: #1f3765; color:#fff; font-weight:bold; vertical-align:middle;padding-right:20px!important;">
                                                                                          <div style="text-align: left;"></div>
                                                                               Važi od: 16-09-2023 
                      </td>
                    </tr>
                </tbody>
              </table>
             </div>
        </div>
                    </div>
</div>
        </main>

{% endblock %}